@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Code Pro", monospace;
  background: #f2f5f9;
  color: #43403c;
  /* overflow: hidden; */
}

/* html,
body,
#root,
.container {
  height: 100dvh;
  overflow: hidden;
}

.container {
  overflow-y: auto;
  max-width: none;
  padding: 70px 0 100px 0;
} */
